.task-details h1 {
  font-size: 22px;
  margin-bottom: 5px;
}
.task-details h2 {
  font-size: 17px;
  color: #919191;
  font-weight: 300;
  margin-top: 0;
}
.task-details h1.task-item-time-range {
  font-size: 17px;
}
.task-details h1.task-item-title {
  font-size: 20px;
}
.task-details .task-item-container {
  margin-top: 20px;
  position: relative;
}
.task-details .task-item-container .task-item-menu,
.task-details .task-item-container .task-item-menu a {
  font-size: 11px;
  color: #aeaeae;
}
.task-details .task-item-container .task-item {
  position: relative;
}
.task-details .task-item-container .task-item .img_margin {
  margin-left: 3px;
}
.task-details .task-item-container .task-item-content {
  margin-bottom: 5px;
}
.task-details .task-item-container .task-item-notes {
  font-style: italic;
  border: 1px solid #cecece;
  margin: 5px;
  padding: 8px 5px 5px 30px;
  -webkit-box-shadow: 1px 1px 5px 0px #ededed;
  -moz-box-shadow: 1px 1px 5px 0px #ededed;
  box-shadow: 1px 1px 5px 0px #ededed;
  background-image: url('notes-grid.png');
}
.task-details .task-item-container .task-item-notes h1.protocol-title {
  font-size: 18px;
}
.task-details .agenda-time-line .agenda-point {
  margin-top: 6px;
  margin-left: 20px;
  width: 14px;
  height: 14px;
  font-size:0.8em;
  display: inline-block;
  position: absolute;
}

.task-details .markdown-render p {
  margin: 0;
}
.task-details .task-item-option {
  position: relative;
  margin-top: 5px;
  color: #555555;
}
.task-details .task-item-option .fa {
  margin-right: 5px;
}
.task-details .task-item-option .task-task {
  padding-bottom: 4px;
  border-radius: 3px;
}
.task-details .task-item-option .task-task .label {
  padding: 2px 3px 3px 3px;
}
.task-details .task-item-option .task-finished,
.task-details .task-item-option .task-finished a {
  color: #bebebe !important;
}
.task-details .task-item-option .task-finished .task-title,
.task-details .task-item-option .task-finished a .task-title {
  text-decoration: line-through;
}
.task-details .task-item-option .task-finished img,
.task-details .task-item-option .task-finished a img {
  opacity: .3;
}
.task-details .task-item-option .notes-content {
  padding-right: 30px;
}
.task-details .edit-link {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
.task-details .edit-area:hover {
  background: #fff8e0;
}
.task-details .task-information {
  position: relative;
}
.task-item-notes-modal .md-editor > textarea {
  min-height: 300px !important;
}
.task-item-notes-modal .md-control-fullscreen {
  display: none;
}
.task-item-modal .md-editor > textarea {
  min-height: 200px !important;
}
.task-item-modal .md-control-fullscreen {
  display: none;
}
.wall-entry-controls,
.wall-entry-controls a {
  font-size: 11px;
  color: #aeaeae !important;
}

.backgroundInfo {
    background: #000 none repeat scroll 0 0 !important;
}



table.task-print {
    border-spacing: 5px;
}

table.task-print td {
    padding-bottom:10px;
}

.print-body {
    padding-left:15px;
    padding-right:15px;
}

.print-body hr {
    border-color: #606060 !important;
}

@media print
{
    * {-webkit-print-color-adjust:exact;}
}