@colorInfo: #6fdbe8;

#task-container {
  .panel-heading {
    background-color: #f7f7f7;

    .assigned-anyone {
      font-size:14px;
      font-style: italic;
      margin: 2px;
      color: #7a7a7a;
    }
  }

  .panel-heading .media {
    .updated {
      color: #bebebe;
      font-size:11px;
      font-weight:bold;
    }
    .author a {
      color: #bebebe;
      font-size:11px;
    }
  }
}

.task-overview {
    li {
      cursor: pointer;
    }

    li:last-child {
      border-bottom:0px;
    }

    .panel-body {
      padding: 10px 0 !important;
    }


    .media-list {
      .summary, .empty {
        font-size:12px;
        color: #bac2c7;
        padding-left:10px;
      }

      .pagination {
        margin-bottom:0px;
        li {
          border:0px;
          padding:0px;
        }

        li:hover {
          border: 0px;
        }
      }
    }

  .task-filter {
    background-color:#f7f7f7;
    padding:10px 10px 0px 10px;

    .dropdown-filter {
      display:inline-block;

      .form-group {
        margin:0px;
        .form-control {
          display: initial !important;
          line-height: 16px;
          height: auto;
          width: 140px;
          max-width: 200px;
          padding: 0px 20px 0px 8px;
          margin-left: 10px;
        }
      }
    }

    .checkbox-filter {
      display:inline-block;

      .regular-checkbox:not(:checked) + .regular-checkbox-box {
        background-color: #fff;
      }

      .form-group {
        margin:0px;
        .checkbox {
          margin:0px !important;
        }
      }
    }
  }
}
#task-list-loader {
  float:right;
}

ul#task-items {
  list-style: none;
  padding:0px;
  margin:0px;
}

.task-details {
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 17px;
    color: #919191;
    font-weight: 300;
    margin-top: 0;
  }

  h1.task-item-time-range {
    font-size: 17px;
    color: @colorInfo;
    display:inline-block;
  }

  h1.task-item-title {
    font-size: 20px;
  }

  .task-drag-icon {
    color: #aeaeae;
  }

  .task-item-head  {
    cursor:move;
    display:inline-block;
  }

  //.task-item-container {
  //  //margin-top: 20px;
  //  position: relative;
  //
  //  .task-item-menu, .task-item-menu a {
  //    font-size: 11px;
  //    color: #aeaeae;
  //
  //  }
  //
  //  .task-item {
  //    position: relative;
  //
  //    .img_margin {
  //      margin-left: 3px;
  //    }
  //
  //  }
  //
  //  .task-item-content {
  //    margin-bottom: 5px;
  //  }
  //
  //  .task-item-notes {
  //    font-style: italic;
  //    border: 1px solid #cecece;
  //    margin: 5px;
  //    padding: 8px 5px 5px 30px;
  //    -webkit-box-shadow: 1px 1px 5px 0px rgba(237, 237, 237, 1);
  //    -moz-box-shadow: 1px 1px 5px 0px rgba(237, 237, 237, 1);
  //    box-shadow: 1px 1px 5px 0px rgba(237, 237, 237, 1);
  //    background-image: url('notes-grid.png');
  //
  //    h1.protocol-title {
  //      font-size: 18px;
  //    }
  //
  //  }
  //}

  .agenda-time-line {
    //text-align: center;

    .agenda-point {
      margin-top: 3px;
      margin-left: 13px;
      width: 14px;
      height: 14px;
      border-radius: 30px;
      background-color: @colorInfo;
      border: 3px solid #ffffff;
      display: inline-block;
      position: absolute;
    }
  }

  //.task-item-container:before {
  //  content: '';
  //  position: absolute;
  //  top: 12px;
  //  left: 18px;
  //  height: 100%;
  //  width: 4px;
  //  background: #ededed; /* Old browsers */
  //  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  //  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NiUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  //  background: -moz-linear-gradient(top, #ededed 76%, #ffffff 100%); /* FF3.6+ */
  //  background: -webkit-gradient(linear, left top, left bottom, color-stop(76%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
  //  background: -webkit-linear-gradient(top, #ededed 76%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
  //  background: -o-linear-gradient(top, #ededed 76%, #ffffff 100%); /* Opera 11.10+ */
  //  background: -ms-linear-gradient(top, #ededed 76%, #ffffff 100%); /* IE10+ */
  //  background: linear-gradient(to bottom, #ededed 76%, #ffffff 100%); /* W3C */
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0); /* IE6-8 */
  //
  //}

  .markdown-render {
    p {
      margin: 0;
    }
  }

  .task-item-option {
    position: relative;
    margin-top: 5px;
    color: #555555;

    .fa {
      margin-right: 5px;
    }

    .task-task {
      padding-bottom: 4px;
      border-radius: 3px;
      .label {
        padding: 2px 3px 3px 3px;
      }
    }

    .task-finished, .task-finished a {
      color: #bebebe !important;

      .task-title {
        text-decoration: line-through;
      }

      img {
        opacity: .3;
      }
    }

    .notes-content {
      padding-right: 30px;
    }
  }

  .edit-link {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .edit-area:hover {
    background: #fff8e0;
  }

  .task-information {
    position: relative;
  }

}

.task-item-notes-modal {
  .md-editor > textarea {
    min-height: 300px !important;
  }

  .md-control-fullscreen {
    display: none;
  }
}

.task-item-modal {
  .md-editor > textarea {
    min-height: 200px !important;
  }

  .md-control-fullscreen {
    display: none;
  }

}

.wall-entry-controls, .wall-entry-controls a {
  font-size: 11px;
  color: #aeaeae !important;
}

@media (max-width: 991px) {
  .agenda-point {
    display: none !important;
  }

  .edit-link {
    display: inline-block !important;
  }

  //.task-item-container:before {
  //  display: none !important;
  //}
}

@media (max-width: 1119px) {
  //.task-item-container:before {
  //  //left: 5% !important;
  //  display: none !important;
  //}
}

.bootstrap-timepicker-widget .form-control {
  padding:0px;
}

